.card {
    height: 95px;
    width: 110px;
    border-radius: 3px;
    margin: 10px;
}
.card > img {
    height: 75px;
    width: 105px;
    border-radius: 3px;
    transition-duration: 200ms;
}
.card > img:hover {
    cursor: pointer;
}
.card > img:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.card-title {
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .card {
        height: 70px;
        width: 100px;
    }
    .card > img {
        height: 50px;
        width: 75px;
    }
}
@media (max-width: 750px) { 
    .card {
        height: 75px;
        width: 75px;
        margin: 10px 5px 0 5px;
    }
    .card > img {
        height: 50px;
        width: 75px;
    }
    .card-title {
        font-size: 12px;
        font-weight: 400;
    }
}
@media (max-width: 500px) { 
    .card {
        height: 50px;
        width: 75px;
        margin: 10px 5px 0 5px;
    }
    .card > img {
        height: 50px;
        width: 75px;
    }
    .card-title {
        display: none;
    }
}
@media (max-width: 380px) {
    .card {
        height: 37.5px;
        width: 56px;
        margin: 5px 3px;
    }
    .card > img {
        height: 37.5px;
        width: 56px;
    }
    .card-title {
        display: none;
    }
}