.card {
    height: 150px;
    width: 150px;
    border: 2px solid darkslategray;
    border-radius: 3px;
    margin: 0 10px;
}
.card:hover {
    cursor: pointer;
}
.card-title {
    font-weight: 600;
}