.header-container {
    margin: 5px 0;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container > img {
    height: 75px;
    width: 105px;
}
.header-title {
    font-family: 'Russo';
    font-size: 44px;
}
.colors {
    background-color: rgb(204, 6, 44);
    color: #14428C;
}
@media (max-width: 900px) {
    .header-title {
        font-size: 32px;
    }
}
@media (max-width: 500px) {
    .header-title {
        font-size: 18px;
    }
    .logo-container > img {
        height: 50px;
        width: 75px;
    }
}
@media (max-width: 380px) {
    .title-container {
        justify-content: flex-start;
    }
    .header-title {
        font-size: 16px;
    }
    .logo-container > img {
        height: 50px;
        width: 75px;
    }
}