.header-container {
    margin: 5px 0;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container > img {
    height: 75px;
    width: 105px;
}
.header-title {
    font-family: 'Russo';
    font-size: 44px;
}
.colors {
    background-color: rgb(204, 6, 44);
    color: #14428C;
}