.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-container {
    align-self: center;
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    width: 900px;
    justify-content: center;
    align-items: center;
}