.scoreboard-wrapper {
    background-color: rgb(252, 254, 252);
    background-color: rgb(204, 6, 44);
    border-top: 4px solid #14428C;
    border-bottom: 4px solid #14428C;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.scoreboard {
    padding: 10px 0;
}
.scoreboard-instructions {
    background-color: rgb(252, 254, 252);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 15px;
}
.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 254, 252);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
}
@media (max-width: 750px) {
    .scoreboard {
        padding: 5px 0;
    }
    .scoreboard-instructions {
        font-size: 14px;
        padding: 0 10px;
        margin: 0 10px;
    }
    .score-container {
        padding: 0 10px;
        margin: 0 10px;
    }
    .score-container > div {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .scoreboard {
        padding: 5px 0;
    }
    .scoreboard-instructions {
        font-size: 12px;
        padding: 0 10px;
        margin: 0 10px;
    }
    .score-container {
        padding: 0 10px;
        margin: 0 10px;
    }
    .score-container > div {
        font-size: 12px;
    }
}
@media (max-width: 380px) {
    .scoreboard {
        padding: 5px 0;
    }
    .scoreboard-instructions {
        font-size: 12px;
        padding: 0 25px;
        margin: 0 10px;
    }
    .score-container {
        padding: 0 5px;
        margin: 0 10px;
    }
    .score-container > div {
        font-size: 12px;
    }
}